.MuiFab-root {
  position: fixed !important;
}
.completed {
  text-decoration: line-through !important;
}
.primary {
  background-color: #2196f3;
  color: #212121;
}
.secondary {
  background-color: #212121 !important;
  color: #fafafa !important;
}
